/* font-family: 'Andika', sans-serif;
font-family: 'Anek Odia', sans-serif;
font-family: 'Arvo', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Alata', sans-serif;
font-family: 'Montserrat', sans-serif;

*/

.main-body {
  background-color: #010101;
  display: block;
  color: white;
}
.navbar {
  background-color: #010101;
}
.name {
  font-family: "Alata", sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: white;
}
.intro {
  color: white;
  font-family: "Alata", sans-serif;
  font-size: 20px;
  opacity: 0.8;
}
.long {
  font-family: "Alata", sans-serif;
  color: #999;
  font-weight: 300;
  font-size: 25px;
}

img {
  width: 400px;
}

.title {
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 20px;
  text-align: center;
  font-size: 30px;
}
.navbar-brand:hover {
  color: #fac710;
  text-decoration: underline;
}
.nav-link:hover {
  color: #fac710;
  text-decoration: underline;
}
footer a {
  color: white;
}
footer a:hover {
  color: #fac710;
  text-decoration: underline;
}
.card {
  background-color: rgb(15, 15, 37);
}

.btn {
  background-color: rgb(14, 14, 42);
  color: white;
}

.btn:hover {
  transition: 10ms;
  color: rgb(14, 14, 42);
  background-color: white;
}

.scroll-progress-bar-background {
  position: fixed;
  top: 0;
  z-index: 101;
  width: 100%;
  height: 0.4375rem;
  background-color: rgba(250, 199, 16, 0.3);
  display: block;
}

.scroll-progress-bar {
  position: fixed;
  top: 0;
  z-index: 101;
  width: 100%;
  height: 0.4375rem;
  background-color: #fac710;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

::selection {
  background: #fac710;
}

footer .fa-brands {
  color: #ffffff;
  font-size: 25px;
}

footer .fa-brands:hover {
  color: #fac710;
}

h1 {
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
}
